*{
    margin: 0;
    box-sizing: border-box;
}

.hongo{
    margin: 80px;
    width: max-content;
    position: relative;
    filter: drop-shadow(0 0 4px);
    
}

.cabeza{
    width: 260px;
    height: 200px;
    background-color: #C53B4A;
    border-radius: 50%; 
    overflow: hidden;
    position: relative;
}

.cabeza::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    box-shadow: 140px 0, -140px 0;
}


.cara{
    position: absolute;
    background-color: #FADAC1;
    width: 155px;
    height: 90px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50% 50% 50% 50% / 26% 26% 30% 30% ;
}

.ojo{
    background-color: #000;
    border-radius: 50%;
    width: 14px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 40px;
    box-shadow: 61px 0;
}

.ojo::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 4px;
    height: 10px;
    background-color: #D2CFC6;
    border-radius: 30px;
    box-shadow: 61px 0 #D2CFC6;
}